/* IMPORTANT */

body {
    margin: 0;
    padding: 0;

    background-color: black;
    color: white;
}

h1, h2, h3 {
    margin: 0;
}

a {
    color:white;
    text-decoration: none;
}

/* HEADER */

.title {
    margin: 10px 0;
    height: 50px;
    display: inline-flex;

    align-items: center;
}

.title h1 {
    margin: 0 10px;
}

.title-image {
    height: 100%;
}

header {
    margin-bottom: 10px;
}

.banner {
    display: block;
    width:100%;
    height: 150px;

    background-color: darkblue;
    background-image: url('../media/mushroom.gif');
    background-repeat: repeat;
    background-size: 12.3%;
    background-position: center;
    background-blend-mode: difference;
}

/* CONTENT */

.tab-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}

.tab, .tab-separator {
    margin: 0 5px;
}

.tab:hover {
    cursor: pointer;
}

.shop {
    padding: 10px;
}

.row {
    width: 100%;
    display: flex;
}

.product {
    padding: 10px;
    margin: 0 10px;
    /* height: 250px;
    width: fit-content; */

    outline: 1px solid white;
}

.product-name {
    text-decoration: underline;
}

.product-image {
    height: 150px;
}

/* FOOTER */

footer {
    margin: 20px 0;
}